/* CSS declarations go here */
header {
  font-family: 'Playfair Display', serif;
  margin-before: 5px;
  padding: 12px 0 12px 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
header h1 {
  font-size: 80px;
  font-weight: 900;
}
header .subhead {
  border-bottom: 2px solid #2f2f2f;
  border-top: 2px solid #2f2f2f;
}
body {
  margin: 0px;
  padding: 0px;
}
